<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_style.css' %}">
</head>
<body>
<div id="container">
    <h1>Hello {{ logged_in_user.first_name }}! Welcome to Sports Link</h1>
    <a href="/logout" div class="link">Logout </a> 
    <!-- <p>.</p> -->
    <a href="/sports/new" div class="link">Create a new sport!</a>
    <a href="/your_sports" div class="link">Click here to view your posts</a>
    <p>Sports to join!</p>
    <p>If you would like to learn more about the sport please click on the title of it</p>
    <form action="/sports/{{ sport.sport_name }}" method="get">
        <!-- add input type next -->
    <select name="{{ sport.sport_name }}" id="{{ sport.sport_name }}">
        {% for sport in allSports %}
            <option value="{{ sport.sport_name }}">{{ sport.sport_name }}</option>
            <!-- <input type="text" name="sport_search" id=""> -->
        {% endfor %}
    </select>
    <button>Search</button>
</form>
    <table>
        <thead>
            <tr>
                <th>Sport</th>
                <th>City</th>
                <th>Day of week</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for sport in allSports %}
            <tr>
                <td><a href="/sports/display/{{ sport.id }}">{{ sport.sport_name }}</a></td>
                <td>{{ sport.city }}</td>
                <td>{{ sport.day_of_week }}</td>
                <td>{{ sport.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>