*{
    background-color: burlywood;
}


#container{
    margin: auto;
    width: 50%;
    border: 3px solid orangered;
    padding: 10px;
    border-radius: 25px;
}


p, a , button{
    margin-left: 250px; 
}

h1{
    margin-left: 190px; 
}

button, input{
    border-radius: 25px;
    background-color: whitesmoke;
}