*{
    background-color: burlywood;
}


#container{
    margin: auto;
    width: 50%;
    border: 3px solid orangered;
    padding: 10px;
    border-radius: 25px;
}

h1, h2{
    margin-left: 190px;
}

#reg{
    margin-bottom: 50px;
}

#validations{
    color: red;
}

button{
    border-radius: 25px;
    background-color: orangered;
    margin-left: 190px; 
}

p{
    margin-left: 190px; 
}